body{
    font-family: 'Viga', sans-serif;
    font-size: 19px;
}
.sobre-nos{
    background-color: #13182c;
    margin: 0;
    padding: 40px;
    
    
}
#oportunidades{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
h5:hover #oportunidades{
    color: #3791ff;
    transform: scale(0.9);
}
a:hover {
    transform: scale(0.95);
    border: 1px solid #28a745;
    border-radius: 5px;
}
h2{
    font-family: 'Viga', sans-serif;
    font-size: 30px;
    color: #13182c
}
p{
    font-family: 'Viga', sans-serif;
}
.opcao:hover{
    color: #3791ff;
}
h3{
    font-size: 20px;
    padding: 20px;
}